<div data-ng-controller="markDown">
  <ol class="breadcrumb">
    <li><a href="#/tool">常用工具</a></li>
    <li class="active" data-ng-show="currentPage">{{currentPage}}</li>
  </ol>
  <div class="container-fluid">
    <div class="tool-container markdown-page">
      <div class="row">
        <div class="col-sm-5">
          <div id="left">
<textarea name="markdownCode" id="markdownCode" style="font-size: 12px;">
Fetool - 前端助手(Beta 0.1)
===================================

## 1 使用

本工具已绿色打包，只需将 fetool.rar 解压后运行 fetool.exe 即可

## 2 功能

### 2.1 文档查询

说明：本工具所用文档来自 [开源中国 - 在线API文档](http://tool.oschina.net/apidocs)

1. 常用对照表

2. API 文档

3. 其他文档
</textarea>
          </div>
        </div>
        <div class="col-sm-2">
          <div class="form-group">
            <button data-compiling="0" event-click="compileCode" type="button" class="btn btn-primary" style="width: 100%;">
              <span class="glyphicon glyphicon-chevron-right"></span> HTML
            </button>
          </div>
          <div class="form-group">
            <button class="btn btn-primary" data-toggle="button" id="realtime" style="width: 100%; outline: none">实时预览</button>
          </div>
        </div>
        <div class="col-sm-5">
          <div id="right">
            <textarea name="htmlCode" id="htmlCode">/*编译后的HTML*/</textarea>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="form-group realtime-preview">
            <h4>实时预览：</h4>
            <div id="realtime-preview"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>