<div data-ng-controller="regex">
  <div data-ng-include="'template/page/tool/tool-nav.html'"></div>
  <div class="container-fluid">
    <div class="tool-container regex-page">
      <div class="form-group">
        <label for="textSource">输入待匹配文本：</label><br>
        <textarea id="textSource" data-ng-model="regexString" placeholder="在此输入待匹配文本" class="form-control" rows="4"></textarea>
      </div>
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-addon">正则表达式</div>
          <input data-ng-model="regexValue" class="form-control" type="text" placeholder="在此输入正则表达式" style="width: 82%">
          <div class="btn-group" style="width: 18%">
            <button type="button" class="btn btn-info meta-elem" style="width: 85%">常用正则表达式</button>
            <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" style="width: 15%">
              <span class="caret"></span>
              <span class="sr-only">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu dropdown-menu-right" role="menu">
              <li data-ng-repeat="item in regexList">
                <a href="javascript:" data-ng-click="selectRegex(item.regex)">{{item.name}}</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="form-group">
        <button data-ng-click="regexReset()" type="button" class="btn btn-primary" style="width: 10%;">重 置</button>
        <button data-ng-click="onMatch()" type="button" class="btn btn-primary" style="width: 20%;">测 试 匹 配</button>
        <label class="checkbox-inline">
          <input type="checkbox" data-ng-model="regexExactMatch" data-ng-click="toggleValue(regexExactMatch)">
          <span>完全匹配</span>
        </label>
        <label class="checkbox-inline">
          <input type="checkbox" data-ng-model="regexGlobal" data-ng-click="toggleValue(regexGlobal)"">
          <span>全局搜索</span>
        </label>
        <label class="checkbox-inline">
          <input type="checkbox" data-ng-model="regexIgnoreCase" data-ng-click="toggleValue(regexIgnoreCase)">
          <span>忽略大小写</span>
        </label>
      </div>
      <div class="form-group">
        <label for="textResult">匹配结果：</label><br>
        <textarea id="textResult" data-ng-model="regexResult" placeholder="没有匹配" class="form-control" rows="10" readonly></textarea>
      </div>
      <!--<div class="form-group">
        <div class="input-group">
          <div class="input-group-addon">替换文本</div>
          <input id="textReplaceSource" class="form-control" type="email" placeholder="在此输入替换文本" style="width: 82%">
          <button event-click="applyReplace" type="button" class="btn btn-primary meta-elem" style="width: 18%;">替 换</button>
        </div>
      </div>
      <div class="form-group">
        <label for="textReplaceResult">替换结果：</label><br>
        <textarea id="textReplaceResult" placeholder="没有替换结果" class="form-control" rows="4" readonly></textarea>
      </div>-->
    </div>
  </div>
</div>