<!DOCTYPE html>
<html>
<head>
  <title></title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <link rel="stylesheet" href="../../public/css/main.css"/>
  <link rel="stylesheet" href="../../public/css/codeFrame.css"/>
  <link rel="stylesheet" href="../../public/css/codemirror.css"/>
</head>
<body class="codeFrame">
  <div class="nav">
    <dl>
      <dt>我的代码</dt>
      <dd class="codeList niceScroll" id="dataDir">
      </dd>
    </dl>
  </div>
  <div class="codeContent niceScroll">
    <div class="code-show-wrap">
      <div class="code-show">
        <h4>./<span id="dirLabel"></span><input type="hidden" value="app" id="rootDir"/></h4>
<textarea name="codeTest" id="codeEditArea">
/*点击文件读取内容*/
</textarea>
      </div>
    </div>
  </div>
  <script src="../../public/js/lib/jquery-1.10.2.min.js"></script>
  <script src="../../public/js/lib/jquery.nicescroll.min.js"></script>
  <script src="../../public/js/lib/codemirror.js"></script>
  <script src="../../public/js/lib/addon/selection/active-line.js"></script>
  <script src="../../public/js/lib/mode/javascript/javascript.js"></script>
  <script src="../../public/js/util.js"></script>
  <script src="../../public/js/common.js"></script>
  <script src="../controller/codeFragment.js"></script>
</body>
</html>