<!DOCTYPE html>
<html>
<head>
  <title></title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <link rel="stylesheet" href="../../public/css/main.css"/>
  <link rel="stylesheet" href="../../public/css/codeFrame.css"/>
  <link rel="stylesheet" href="../../public/css/codemirror.css"/>
  <link rel="stylesheet" href="../../public/css/theme/3024-day.css">
  <link rel="stylesheet" href="../../public/css/theme/3024-night.css">
  <link rel="stylesheet" href="../../public/css/theme/ambiance.css">
  <link rel="stylesheet" href="../../public/css/theme/base16-dark.css">
  <link rel="stylesheet" href="../../public/css/theme/base16-light.css">
  <link rel="stylesheet" href="../../public/css/theme/blackboard.css">
  <link rel="stylesheet" href="../../public/css/theme/cobalt.css">
  <link rel="stylesheet" href="../../public/css/theme/eclipse.css">
  <link rel="stylesheet" href="../../public/css/theme/elegant.css">
  <link rel="stylesheet" href="../../public/css/theme/erlang-dark.css">
  <link rel="stylesheet" href="../../public/css/theme/lesser-dark.css">
  <link rel="stylesheet" href="../../public/css/theme/mbo.css">
  <link rel="stylesheet" href="../../public/css/theme/mdn-like.css">
  <link rel="stylesheet" href="../../public/css/theme/midnight.css">
  <link rel="stylesheet" href="../../public/css/theme/monokai.css">
  <link rel="stylesheet" href="../../public/css/theme/neat.css">
  <link rel="stylesheet" href="../../public/css/theme/night.css">
  <link rel="stylesheet" href="../../public/css/theme/paraiso-dark.css">
  <link rel="stylesheet" href="../../public/css/theme/paraiso-light.css">
  <link rel="stylesheet" href="../../public/css/theme/pastel-on-dark.css">
  <link rel="stylesheet" href="../../public/css/theme/rubyblue.css">
  <link rel="stylesheet" href="../../public/css/theme/solarized.css">
  <link rel="stylesheet" href="../../public/css/theme/the-matrix.css">
  <link rel="stylesheet" href="../../public/css/theme/tomorrow-night-eighties.css">
  <link rel="stylesheet" href="../../public/css/theme/twilight.css">
  <link rel="stylesheet" href="../../public/css/theme/vibrant-ink.css">
  <link rel="stylesheet" href="../../public/css/theme/xq-dark.css">
  <link rel="stylesheet" href="../../public/css/theme/xq-light.css">
</head>
<body class="codeFrame">
  <div class="nav un-select">
    <dl>
      <dt>我的代码</dt>
      <dd class="codeList niceScroll" id="dataDir">
      </dd>
    </dl>
  </div>
  <div class="codeContent niceScroll">
    <div class="code-show-wrap">
      <div class="code-show">
        <h4>./<span id="dirLabel"></span></h4>
<textarea name="codeTest" id="codeEditArea">
代码碎片功能使用须知
=====================================================

代码碎片的存储位置：与 fetool.exe 同级目录下的 data 文件夹

``data/config 目录为配置文件目录，操作的时候请注意``

可编辑的文本文件类型：['html', 'css', 'js', 'txt', 'json', 'xml', 'md', 'php', 'rb', 'py', 'sass', 'scss', 'java', 'jade', 'sh', 'coffee', 'ts', 'txt', 'gitignore']

## 如何创建文件夹

进入对应的目录在编辑器右侧目录空白处：右键->选择 Directory->输入合法文件夹名->确定

``不允许创建已存在的文件夹（可以先删除）``

## 如何创建文件

进入对应的目录在编辑器右侧目录空白处：右键->选择 File->输入合法文件名->确定

``创建已存在的文件将提示是否覆盖``

## 关于编辑器

* 由[CodeMirror](http://codemirror.net)驱动
* 编辑器底部目前有 保存 按钮和 主题（保存于配置文件 data/config/codeMirror.json） 选择两个功能

</textarea>
        <div class="code-tool un-select">
          <select class="theme-select" name="setting" id="setting" event-change="changeTheme">
            <option selected>theme select</option>
            <option>default</option>
            <option>3024-day</option>
            <option>3024-night</option>
            <option>ambiance</option>
            <option>base16-dark</option>
            <option>base16-light</option>
            <option>blackboard</option>
            <option>cobalt</option>
            <option>eclipse</option>
            <option>elegant</option>
            <option>erlang-dark</option>
            <option>lesser-dark</option>
            <option>mbo</option>
            <option>mdn-like</option>
            <option>midnight</option>
            <option>monokai</option>
            <option>neat</option>
            <option>night</option>
            <option>paraiso-dark</option>
            <option>paraiso-light</option>
            <option>pastel-on-dark</option>
            <option>rubyblue</option>
            <option>solarized dark</option>
            <option>solarized light</option>
            <option>the-matrix</option>
            <option>tomorrow-night-eighties</option>
            <option>twilight</option>
            <option>vibrant-ink</option>
            <option>xq-dark</option>
            <option>xq-light</option>
          </select>
          <button class="bbtn" event-click="saveFile">Save</button>
        </div>
      </div>
    </div>
  </div>
  <script src="../../public/js/lib/jquery-1.10.2.min.js"></script>
  <script src="../../public/js/lib/jquery.nicescroll.min.js"></script>
  <script src="../../public/js/lib/codemirror.js"></script>
  <script src="../../public/js/lib/context.js"></script>
  <script src="../../public/js/lib/addon/selection/active-line.js"></script>
  <script src="../../public/js/lib/mode/javascript/javascript.js"></script>
  <script src="../../public/js/lib/mode/xml/xml.js"></script>
  <script src="../../public/js/lib/mode/css/css.js"></script>
  <script src="../../public/js/lib/mode/php/php.js"></script>
  <script src="../../public/js/lib/mode/markdown/markdown.js"></script>
  <script src="../../public/js/lib/mode/ruby/ruby.js"></script>
  <script src="../../public/js/lib/mode/python/python.js"></script>
  <script src="../../public/js/lib/mode/vbscript/vbscript.js"></script>
  <script src="../../public/js/lib/mode/htmlmixed/htmlmixed.js"></script>
  <script src="../../public/js/lib/mode/shell/shell.js"></script>
  <script src="../../public/js/lib/mode/jade/jade.js"></script>
  <script src="../../public/js/lib/mode/sass/sass.js"></script>
  <script src="../../public/js/lib/mode/coffeescript/coffeescript.js"></script>
  <script src="../../public/js/util.js"></script>
  <script src="../../public/js/common.js"></script>
  <script src="../controller/codeFragment.js"></script>
</body>
</html>