<!DOCTYPE html>
<html>
<head>
  <title>代码碎片</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <link rel="stylesheet" href="../../public/css/main.css"/>
  <link rel="stylesheet" href="../../public/css/codemirror.css"/>
</head>
<body class="niceScroll">
<div class="code-show-wrap">
  <div class="code-show">
    <h4>代码示例：</h4>
    <textarea name="codeTest" id="codeTest1">
/**
* Created with JetBrains PhpStorm.
* User: Chen Chao
* Date: 14-3-14
* Time: 下午3:25
*/

var factory = require('./interface');

var methods = {
  speak: function(){
    console.log('嗨,我是' + (this.name ? this.name : '来自火星的人'));
  }
};

module.exports = factory.createModel({
  name: 'user', //这里的名称需存在于schema里
  methods: methods
});
    </textarea>
    <button class="edit">编辑</button>
    <button class="save" id="save">保存</button>
  </div>
  <div class="code-show">
    <h4>代码示例：</h4>
    <textarea name="codeTest" id="codeTest2">
/*读取文件内容*/
    </textarea>
    <button class="read" id="read">读取</button>
  </div>
</div>
<input type="file" value="导入文件"/>
<script src="../../public/js/lib/jquery-1.10.2.min.js"></script>
<script src="../../public/js/lib/jquery.nicescroll.min.js"></script>
<script src="../../public/js/lib/codemirror.js"></script>
<script src="../../public/js/lib/mode/javascript/javascript.js"></script>
<script src="../../public/js/common.js"></script>
<script>
  $(function(){

    var fs = require('fs');
    var home = require('../controller/home');
    var __dir__ = process.execPath;
    __dir__ = __dir__.replace(/(fetool|nw)\.exe/, '');

    var htmlDoc = CodeMirror.fromTextArea(document.getElementById("codeTest1"), {
      lineNumbers: true,
      lineWrapping: true,
      styleActiveLine: true,
      matchBrackets: true,
      mode: 'javascript'
    });
    var jsDoc = CodeMirror.fromTextArea(document.getElementById("codeTest2"), {
      lineNumbers: true,
      lineWrapping: true,
      styleActiveLine: true,
      matchBrackets: true,
      readOnly: true,
      mode: 'javascript'
    });
    $('#save').on('click', function(){
      var content = htmlDoc.getValue();
      if(fs.existsSync(__dir__ + '/data')){
        fs.writeFile(__dir__ + '/data/code_test.txt', content, function(err){
          alert(err ? err : '保存成功!');
        });
      }else{
        alert('目录不存在!');
      }
    });
    $('#read').on('click', function(){
      fs.readFile(__dir__ + '/data/code_test.txt', 'utf8', function(err, content){
        if(err)return;
        jsDoc.setValue(content);
      });
    });
  });
</script>
</body>
</html>