<!DOCTYPE html>
<html>
<head>
  <title>前端助手 - 介绍页</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <link rel="stylesheet" href="../../public/css/main.css"/>
</head>
<body class="niceScroll">
<pre id="readme"></pre>
<script src="../../public/js/lib/jquery-1.10.2.min.js"></script>
<script src="../../public/js/lib/jquery.nicescroll.min.js"></script>
<script src="../../public/js/util.js"></script>
<script src="../../public/js/common.js"></script>
<script src="../controller/home.js"></script>
</body>
</html>