<!DOCTYPE html>
<html>
<head>
  <title>前端助手 - 介绍页</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <link rel="stylesheet" href="../../public/css/main.css"/>
</head>
<body class="niceScroll">
<pre>
Fetool - 前端助手
===================================

## 1 安装使用（如何运行）



## 2 功能

### 2.1 工具类：

  1. 正则验证
  2. JS在线编辑
  3. JS代码压缩
  4. CSS代码压缩
  5. HTML代码压缩
  6. 多JS文件合并压缩

### 2.2 文档查询

  1. 常用对照表
     HTTP Content-type (ok)
     HTML转义字符 (ok)
     RGB颜色参考 (ok)
     ASCII对照表 (ok)
     HTTP状态码详解 (ok)
     网页字体参考 (ok)

  2. API 文档
     Css2.0 参考文档
     Css3.0 参考文档
     JavaScript 参考文档
     JQuery API
     NodeJs API

  3. 其他文档

### 2.3 jquery插件

### 2.4 代码碎片

### 2.5 学习网站
</pre>
<script src="../../public/js/lib/jquery-1.10.2.min.js"></script>
<script src="../../public/js/lib/jquery.nicescroll.min.js"></script>
<script src="../../public/js/util.js"></script>
<script src="../../public/js/common.js"></script>
</body>
</html>