<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <link rel="stylesheet" href="../../public/css/main.css"/>
  <title>Fetool - 前端助手</title>
</head>
<body>

<!--topBar-->
<div class="topBar un-select">
  <table>
    <tr>
      <td class="drag-item logo">&nbsp;</td>
      <td class="drag-item title">UPG 前端助手工具</td>
      <td class="menu">
        <span event-click="minWindow" class="min-size"><em class="icon">最小化</em></span>
        <span event-click="maxWindow" class="max-size"><em class="icon">最大化</em></span>
        <span event-click="closeWindow" class="close"><em class="icon">关闭</em></span>
      </td>
    </tr>
  </table>
</div>
<!--//topBar-->

<div class="box">
  <div class="boxsub">
    <div class="boxsub02">
      <div class="boxsub03">
        <div class="boxsub04">
          <!--content-->
          <div class="wrap">

            <!--left-->
            <div class="left un-select">
              <ul class="left-nav">
                <li><a href="javascript:" class="doc" title="文档查询">文档查询</a></li>
                <li><a href="javascript:" class="plug" title="插件中心">插件中心</a></li>
                <li><a href="javascript:" class="fragment" title="代码碎片">代码碎片</a></li>
                <li><a href="javascript:" class="tools" title="常用工具">常用工具</a></li>
                <li><a href="javascript:" class="learn" title="学习资料">学习资料</a></li>
              </ul>
              <span class="setting" title="设置">设置</span>
            </div>
            <!-//-left-->

            <!--right-->
            <div class="right niceScroll">
              <div class="right-wrap">
                <iframe class="main-frame" id="main-frame" src="about:blank"></iframe>
              </div>
            </div>
            <!--//right-->

          </div>
          <!--//content-->
        </div>
      </div>
    </div>
  </div>
</div>

<!--template-->
<script type="text/html" id="userList">
  <% if(users.length){ %>
  <ul>
    <% users.forEach(function(user){ %>
    <li><%= user.name %> -- <span class="oid"><%= user._id%></span></li>
    <% }) %>
  </ul>
  <% }else{ %>
  <div>--暂无数据--</div>
  <% } %>
</script>
<script type="text/html" id="userInfo">
  <% if(userInfo){ %>
  <h4>用户：<%= userInfo.name %></h4>
  <p>用户等级：<%= userInfo.level %></p>
  <p>创建时间：<%= userInfo.createTime %></p>
  <% } %>
</script>
<!--//template-->

<!--<script src="../controller/index.js"></script>-->
<script src="../../public/js/lib/jquery-1.10.2.min.js"></script>
<script src="../../public/js/lib/jquery.nicescroll.min.js"></script>
<script src="../../public/js/util.js"></script>
<script src="../../public/js/common.js"></script>
</body>
</html>