<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <link rel="stylesheet" href="../../public/css/main.css"/>
  <link rel="stylesheet" href="../../public/css/custom-theme/jquery-ui-1.10.0.custom.css"/>
  <title>Fetool - 前端助手</title>
</head>
<body>

<!--topBar-->
<div class="topBar un-select">
  <table>
    <tr>
      <td class="drag-item logo">&nbsp;</td>
      <td class="drag-item title">前端助手工具</td>
      <td class="top-link">
        <a href="#" title="菜单" event-click="callMenu">菜单</a>
      </td>
      <td class="menu">
        <span event-click="minWindow" class="min-size"><em class="icon">最小化</em></span>
        <span event-click="maxWindow" class="max-size"><em class="icon">最大化</em></span>
        <span event-click="closeWindow" class="close"><em class="icon">关闭</em></span>
      </td>
    </tr>
  </table>
</div>
<!--//topBar-->

<div class="box">
  <div class="boxsub">
    <div class="boxsub02">
      <div class="boxsub03">
        <div class="boxsub04">
          <!--content-->
          <div class="wrap">

            <!--left-->
            <div class="left un-select">
              <ul class="left-nav">
                <li><a href="javascript:" class="doc" title="文档查询">文档查询</a>
                  <div class="sub-menu">

                    <div class="sub-a"><a href="javascript:">常用对照表<arrow></arrow></a>
                      <div class="sub-menu" style="width: 140px">
                        <a href="comparisonTable/httpContentType.html" target="main-frame">HTTP Content-type</a>
                        <a href="comparisonTable/htmlESC.html" target="main-frame">HTML转义字符</a>
                        <a href="comparisonTable/colors.html" target="main-frame">RGB颜色参考</a>
                        <a href="comparisonTable/ASCII.html" target="main-frame">ASCII对照表</a>
                        <a href="comparisonTable/httpStatusCode.html" target="main-frame">HTTP状态码详解</a>
                        <a href="comparisonTable/fontFamily.html" target="main-frame">网页字体参考</a>
                      </div>
                    </div>

                    <div class="sub-a"><a href="javascript:">API 文档<arrow></arrow></a>
                      <div class="sub-menu" style="width: 140px">
                        <div class="sub-a"><a href="javascript:">前端常用<arrow></arrow></a>
                          <div class="sub-menu" style="width: 140px">
                            <a href="http://tool.oschina.net/uploads/apidocs/css2/" target="main-frame">Css2.0 参考文档</a>
                            <a href="http://tool.oschina.net/uploads/apidocs/css3/" target="main-frame">Css3.0 参考文档</a>
                            <a href="http://tool.oschina.net/uploads/apidocs/jquery/" target="main-frame">JQuery API</a>
                            <a href="http://tool.oschina.net/uploads/apidocs/jquery-mobile/" target="main-frame">jquery-mobile API</a>
                            <a href="http://www.html-5.cn/Manual/Zepto/" target="main-frame">Zepto API</a>
                            <a href="http://tool.oschina.net/uploads/apidocs/extjs4.1/docs/index.html#!/api" target="main-frame">extjs API</a>
                            <a href="http://tool.oschina.net/uploads/apidocs/bootstrap/" target="main-frame">Bootstrap Web前端</a>
                            <a href="http://tool.oschina.net/uploads/apidocs/yui3.5.1/api/" target="main-frame">YUI</a>
                          </div>
                        </div>
                        <a href="http://tool.oschina.net/uploads/apidocs/nodejs/api/" target="main-frame">NodeJs API</a>
                        <a href="http://tool.oschina.net/uploads/apidocs/php-zh/" target="main-frame">PHP 中文手册</a>
                        <a href="http://tool.oschina.net/uploads/apidocs/mysql-5.1-zh/" target="main-frame">MySQL5.1 参考手册</a>
                        <a href="http://tool.oschina.net/uploads/apidocs/Python/reference/" target="main-frame">Python3</a>
                        <a href="http://tool.oschina.net/uploads/apidocs/ruby-1.9.3-core/" target="main-frame">Ruby1.9</a>
                      </div>
                    </div>

                    <a href="#">其他文档</a>
                  </div>
                </li>
                <li><a href="javascript:alert('开发中...')" class="plug" title="插件中心">插件中心</a></li>
                <li><a href="codeFragmentIndex.html" class="fragment" target="main-frame" title="代码碎片">代码碎片</a></li>
                <li><a href="tool/index.html" class="tools" target="main-frame" title="常用工具">常用工具</a></li>
                <li><a href="javascript:alert('开发中...')" target="main-frame" class="learn" title="学习资料">学习资料</a></li>
              </ul>
              <!--登陆显示-->
              <!--<span class="setting" title="设置" event-click="callSetting">设置</span>-->
              <!--未登陆-->
              <!--<span class="unlogin">菜单</span>-->
            </div>
            <!-//-left-->

            <!--right-->
            <div class="right niceScroll">
              <div class="right-wrap">
                <div class="iframeTool">
                  <a href="javascript: history.back();"><img src="../../public/images/back.png" alt="返回上一页" title="返回上一页"/></a>
                  <a href="javascript: document.getElementById('main-frame').contentWindow.location.reload(true);"><img src="../../public/images/refresh.png" alt="刷新" title="刷新"/></a>
                </div>
                <iframe class="main-frame" name="main-frame" id="main-frame" src="tool/index.html"></iframe>
              </div>
            </div>
            <!--//right-->

          </div>
          <!--//content-->
        </div>
      </div>
    </div>
  </div>
</div>

<div style="display: none">
  <!--about dialog-->
  <div id="about" title="关于Fetool">
    <p>1. 本工具是由 <span class="color-blue">node-webkit</span> 集成前端各类常用工具于一体的应用.</p>
    <p>2. 文档查询调用的是 <span class="color-blue">开源中国 www.oschina.net</span> 上的在线API.</p>
    <p class="rights">Author:shaman Version：Bate0.0.1</p>
  </div>
  <!--//end about dialog-->
</div>

<script src="../../public/js/lib/jquery-1.10.2.min.js"></script>
<script src="../../public/js/lib/jquery-ui-1.10.0.custom.min.js"></script>
<script src="../../public/js/lib/jquery.nicescroll.min.js"></script>
<script src="../../public/js/util.js"></script>
<script src="../../public/js/gui.js"></script>
<script src="../../public/js/common.js"></script>
<script src="../../public/js/app.js"></script>
</body>
</html>.