body,ul,li{
    margin: 0;
    padding: 0;
}
html,body {
    height: 100%;
    width: 100%;
    font-family: "microsoft yahei", "simhei";
    font-size: 12px;
    background: #DCE0E4;
}
ul, li{
    list-style: none;
}
a{
    color: #363636;
    text-decoration: none;
}
button, select{
    outline: none;
}
.drag-item{
    -webkit-app-region: drag;
}
.un-select{
    -webkit-user-select: none;
}
.box {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 0;
    border-left: 5px solid;
    box-shadow: 0 0 10px #000000;
}
.boxsub {
    height: 100%;
    border-top: 28px solid;
}
.boxsub02 {
    height: 100%;
    border-right: 5px solid;
    margin-right: 0;
}
.boxsub03 {
    height: 100%;
    border-bottom: 5px solid;
    margin: 0 -10px 0;
}
.boxsub04 {
    height: 100%;
    margin: 0 10px;
    position: relative;
    overflow: hidden;
}
.box,.boxsub,.boxsub02,.boxsub03{
    border-color: #3E4144;
}
.topBar{
    height: 22px;
    position: absolute;
    top: 4px;
    left: 5px;
    right: 5px;
    z-index: 9;
    color: #ffffff;
    background: #3E4144;
    padding-right: 70px;
}
.titleBar{
    height: 22px;
    text-shadow: 1px 1px 0 #000000;
}
.titleBar span{
    color: #3581c0;
    font-size: 14px;
    font-weight: bold;
}
.topNavBar{
    height: 22px;
    width: 70px;
    position: absolute;
    top: 0;
    right: 0;
}
.topNavBar .glyphicon{
    font-size: 12px;
    float: right;
    margin-left: 2px;
    height: 18px;
    width: 18px;
    overflow: hidden;
    text-align: center;
    line-height: 18px;
    cursor: pointer;
}
.topNavBar .glyphicon-minus:hover{
    background: #5e5e64;
}
.topNavBar .glyphicon-remove:hover{
    background: #C73636;
}
/*滚动条样式*/
::-webkit-scrollbar-track-piece{
    border-radius:0;/*滚动条的圆角宽度*/
}
::-webkit-scrollbar{
    width:5px;/*滚动条的宽度*/
    height:5px;/*滚动条的高度*/
    border-radius: 4px;
}
::-webkit-scrollbar:hover{
    background-color: rgb(204, 204, 204);
}
::-webkit-scrollbar-thumb{
    background-color:rgba(87, 92, 96, 0.6);
    border-radius:5px;
    min-height: 60px;
}
::-webkit-scrollbar-thumb:hover{
    background-color:rgba(87, 92, 96, 0.9);
}
/*滚动条样式 end*/

/*mini code editor*/
#editor {
    position: absolute;
    top: 0;
    bottom: 18px;
    left: 0;
    right: 0;
}
.info {
    font-family: monospace;
    white-space: nowrap;
    position: absolute;
    padding: 0 2px;
    height: 18px;
    line-height: 18px;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    overflow: hidden;
}
.info label {
    font-weight: bold;
}
.info-mode{
    float: right;
    position: relative;
    z-index: 8;
}
.info-title{
    position: relative;
    z-index: 9;
}
.info,
.info-title{
    background: #eee;
}
/*mini code editor end*/
/*extend CodeMirror*/
.CodeMirror .CodeMirror-cursor{
    line-height: 0;
}
/*extend CodeMirror end*/

.wrap{
    height: 100%;
}
.left{
    position: absolute;
    top: 0;
    left: 0;
    width: 56px;
    height: 100%;
    background: #495356;
    box-shadow: 0 0 10px #495356;
    border-right: 1px solid #495356;
    z-index: 1;
}
.right{
    margin-left: 60px;
    margin-right: 5px;
    height: 100%;
    overflow: auto;
    position: relative;
}
.right-wrap{
    position: absolute;
    top: 5px;
    bottom: 5px;
    left: 5px;
    right: 0;
    z-index: 0;
}
.iframeTool{
    height: 16px;
    position: absolute;
    left: 0;
    bottom: 0;
}
.iframeTool a{
    display: block;
    height: 16px;
    width: 16px;
    overflow: hidden;
    font-size: 16px;
    float: left;
    margin-right: 2px;
}
.iframeTool a:hover{
    opacity: 0.8;
}
.left-nav li{
    border-bottom: 1px solid #3E4144;
    box-shadow: 0 -1px 1px #565b5f inset;
    position: relative;
}
.left-nav li > a{
    display: block;
    height: 34px;
    width: 40px;
    overflow: hidden;
    margin: 8px;
    color: #c1c1c1;
    text-decoration: none;
    font-size: 34px;
}
.doc{
    background: url("../images/icon_doc.png") no-repeat 0 0;
}
.plug{
    background: url("../images/icon_plug.png") no-repeat 0 0;
}
.fragment{
    background: url("../images/icon_fragment.png") no-repeat 0 0;
}
.tools{
    background: url("../images/icon_tool.png") no-repeat 0 0;
}
.learn{
    background: url("../images/icon_learn.png") no-repeat 0 0;
}
.setting{
    height: 32px;
    width: 32px;
    overflow: hidden;
    position: absolute;
    bottom: 6px;
    left: 12px;
    font-size: 32px;
}
.rights{
    text-align: right;
    margin-bottom: 0
}
.table{
    width: 100%;
    border-collapse: collapse;
}
.table thead {
    background: #70a7ff;
    color: #ffffff;
}
.table td, .table th {
    border: 1px solid #cccccc;
    padding: 4px;
    border-collapse: collapse;
}
.table caption{
    font-size: 16px;
    font-weight: bold;
    line-height: 32px;
}
.table tbody .separateColor{
    background: #eeeeee;
}

/*fileExplorer*/
.files {
    padding: 0;
    margin: 0;
}
.file,
.newFile {
    margin: 2px;
    display: inline-block;
    text-align: center;
    vertical-align: top;
}
.file.focus {
    background-color: #08C;
    -webkit-border-radius: 4px;
}
.file .name {
    word-wrap: break-word;
}
.file.focus .name {
    color: white;
}
.file.focus .icon {
    -webkit-filter: invert(20%);
}
.file,
.file .icon,
.file .name,
.newFile{
    width: 100px;
}
.breadcrumb > .active a{
    text-decoration: underline;
    font-weight: bold;
}
.newFile[data-action=addFile] .icon{
    height: 100px;
    cursor: pointer;
}
.newFile[data-action=addFile] .icon span{
    display: inline-block;
    height: 90px;
    width: 86px;
    border: 3px #cccccc dotted;
    margin-top: 5px;
    position: relative;
}
.newFile[data-action=addFile] .icon span:after{
    content: '+';
    font-size: 52px;
    font-weight: bold;
    color: #cccccc;
}
/*fileExplorer end*/

/* 菜单 */
.left-nav li:hover > a,
.setting:hover{
    color: #f0f0f0;
}
.sub-menu{
    position: absolute;
    border: 1px solid #565b5f;
    background: #ffffff;
    left: 100%;
    top: 4px;
    width: 90px;
    padding: 2px;
    display: none;
    box-shadow: 0 0 3px #565b5f;
    border-radius: 0 4px 4px 0;
}
.sub-a .sub-menu{
    top: -8px;
    margin-left: -2px;
}
.sub-menu a{
    display: block;
    height: 20px;
    line-height: 20px;
    padding-left: 8px;
}
.sub-menu a:hover{
    background: #384043;
    color: #ffffff;
}
.left-nav li:hover > .sub-menu,
.left-nav .sub-menu .sub-a:hover > .sub-menu{
    display: block;
}
.sub-a arrow{
    height: 0;
    width: 0;
    display: inline-block;
    margin-left: 4px;
    border-width: 3px;
    border-color: #ffffff #384043 #384043 #ffffff;
    border-style: solid;
}
.sub-a:hover arrow{
    border-color: #384043 #ffffff #ffffff #384043;
}
/* 菜单结束 */

/*tool*/
button:focus, input:focus, textarea:focus{
    outline: none;
}
.tool-container{
    padding-bottom: 20px;
}
.tool-container .panel h3{
    font-weight: bold;
}
.tool-container .panel{
    cursor: pointer;
    box-shadow: 0 0 5px #bce8f1;
    -webkit-transition: all 0.2s ease-in;
}
.tool-container .panel:hover{
    box-shadow: 0 0 20px #337ab7;
}
.tool-container .panel:hover .panel-heading{
    background: #337ab7;
    color: #ffffff;
    text-shadow: 2px 2px 2px #2e2e2e;
    border-color: #337ab7;
    -webkit-transition: all 0.2s ease-in;
}
.tool-container .panel-body{
    min-height: 64px;
}
.form-control{
    width: 100%;
    resize: vertical;
}
.tool-container button.meta-elem{
    border-left: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.tool-container .dropdown-menu{
    font-size: 12px;
}
.tool-container .alert{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
}
.modal-dialog p{
    margin: 10px 0;
}
.tool-container .CodeMirror{
    width: 100%;
    height: 380px;
    border-radius: 5px;
    box-shadow: 0 0 10px #3300bc;
    border: 1px solid #3a31ff;
}
.markdown-page .CodeMirror-wrap pre{
    font-size: 12px;
}
.realtime-preview h4{
    padding: 20px 0 10px;
    border-bottom: 1px dotted #adadad;
}
.jslint-log-wrap{
    position: absolute;
    padding: 4px 8px;
    border-radius: 2px;
    right: 10px;
    top: 60px;
    bottom: 10px;
    left: 45%;
    z-index: 997;
    background: rgba(230, 201, 135, 0.9);
    display: none;
}
.log-head{
    height: 30px;
    line-height: 30px;
    border-bottom: 1px solid rgba(204, 204, 204, 0.65);
}
.log-head strong{
    color: rgba(54, 54, 54, 0.70);
    font-size: 14px;
}
.log-body{
    position: absolute;
    overflow: auto;
    padding: 6px 8px;
    top: 32px;
    left: 10px;
    right: 10px;
    bottom: 40px;
    background: #000000;
    box-shadow: 1px 1px 1px #cccccc inset;
}
.log-foot{
    position: absolute;
    bottom: 0;
    left: 10px;
    right: 10px;
    height: 40px;
    padding-top: 8px;
    border-top: 1px solid rgba(204, 204, 204, 0.65);
}
.report-line{
    margin: 0;
    line-height: 16px;
    font-family: "Courier New", Courier, sans-serif;
}
.report-line.report-normal{
    color: #ffffff;
}
.report-line.report-error{
    color: red;
}
.report-line.report-info{
    color: #ffff00;
}
.report-line.report-success{
    color: #008000;
}
.file-list{
    position: absolute;
    padding: 4px 8px;
    background: #ffffff;
    border-radius: 4px;
    right: 10px;
    top: 60px;
    bottom: 10px;
    width: 50%;
    overflow: auto;
    display: none;
}
.file-list li{
    background: rgba(60, 166, 236, 0.2);
    border-radius: 2px;
    margin: 2px 0;
    padding: 0 4px;
    width: 100%;
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
}
/*tool end*/

/**
 * ContextJS Styles
 * For use WITHOUT Twitters Bootstrap CSS
 */
.nav-header {
    display: block;
    padding: 3px 15px;
    font-size: 11px;
    font-weight: bold;
    line-height: 20px;
    color: #999;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    text-transform: uppercase;
}
.dropdown-menu.pull-right {
    right: 0;
    left: auto;
}
.dropdown-menu .divider {
    *width: 100%;
    height: 1px;
    margin: 9px 1px;
    *margin: -5px 0 5px;
    overflow: hidden;
    background-color: #e5e5e5;
    border-bottom: 1px solid #ffffff;
}
.dropdown-menu a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 20px;
    color: #333333;
    white-space: nowrap;
    text-decoration: none;
}
.dropdown-menu li > a:hover, .dropdown-menu li > a:focus, .dropdown-submenu:hover > a {
    color: #ffffff;
    text-decoration: none;
    background-color: #0088cc;
    background-color: #0081c2;
    background-image: -moz-linear-gradient(top, #0088cc, #0077b3);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0077b3));
    background-image: -webkit-linear-gradient(top, #0088cc, #0077b3);
    background-image: -o-linear-gradient(top, #0088cc, #0077b3);
    background-image: linear-gradient(to bottom, #0088cc, #0077b3);
    background-repeat: repeat-x;
    filter: progid: dximagetransform.microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0);
}
.dropdown-menu .active > a, .dropdown-menu .active > a:hover {
    color: #ffffff;
    text-decoration: none;
    background-color: #0088cc;
    background-color: #0081c2;
    background-image: linear-gradient(to bottom, #0088cc, #0077b3);
    background-image: -moz-linear-gradient(top, #0088cc, #0077b3);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0077b3));
    background-image: -webkit-linear-gradient(top, #0088cc, #0077b3);
    background-image: -o-linear-gradient(top, #0088cc, #0077b3);
    background-repeat: repeat-x;
    outline: 0;
    filter: progid
    : dximagetransform.microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0);
}
.dropdown-menu .disabled > a, .dropdown-menu .disabled > a:hover {
    color: #999999;
}
.dropdown-menu .disabled > a:hover {
    text-decoration: none;
    cursor: default;
    background-color: transparent;
}
.open {
    *z-index: 1000;
}
.open > .dropdown-menu {
    display: block;
}
.pull-right > .dropdown-menu {
    right: 0;
    left: auto;
}
.dropup .caret, .navbar-fixed-bottom .dropdown .caret {
    border-top: 0;
    border-bottom: 4px solid #000000;
    content: "\2191";
}
.dropup .dropdown-menu, .navbar-fixed-bottom .dropdown .dropdown-menu {
    top: auto;
    bottom: 100%;
    margin-bottom: 1px;
}
.dropdown-submenu {
    position: relative;
}
.dropdown-submenu > .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px 6px;
    border-radius: 0 6px 6px 6px;
}
.dropdown-submenu > .dropdown-menu.drop-left{
    left:-100%;
}
.dropdown-submenu:hover .dropdown-menu {
    display: block;
}
.dropdown-submenu > a:after {
    display: block;
    float: right;
    width: 0;
    height: 0;
    margin-top: 5px;
    margin-right: -10px;
    border-color: transparent;
    border-left-color: #cccccc;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    content: " ";
}
.dropdown-submenu:hover > a:after {
    border-left-color: #ffffff;
}
.dropdown .dropdown-menu .nav-header {
    padding-right: 20px;
    padding-left: 20px;
}

/**
 * 	Context Styles
 */
.dropdown-context .nav-header {
    cursor: default;
}
.dropdown-context:before, .dropdown-context-up:before {
    position: absolute;
    top: -7px;
    left: 9px;
    display: inline-block;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #ccc;
    border-left: 7px solid transparent;
    border-bottom-color: rgba(0, 0, 0, 0.2);
    content: '';
}
.dropdown-context:after, .dropdown-context-up:after {
    position: absolute;
    top: -6px;
    left: 10px;
    display: inline-block;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #ffffff;
    border-left: 6px solid transparent;
    content: '';
}
.dropdown-context-up:before, .dropdown-context-up:after {
    top: auto;
    bottom: -7px;
    z-index: 9999;
}
.dropdown-context-up:before {
    border-right: 7px solid transparent;
    border-top: 7px solid #ccc;
    border-bottom: none;
    border-left: 7px solid transparent;
}
.dropdown-context-up:after {
    border-right: 6px solid transparent;
    border-top: 6px solid #ffffff;
    border-left: 6px solid transparent;
    border-bottom: none;
}
.dropdown-context-sub:before, .dropdown-context-sub:after {
    display: none;
}
.dropdown-context .dropdown-submenu:hover .dropdown-menu {
    display: none;
}
.dropdown-context .dropdown-submenu:hover > .dropdown-menu {
    display: block;
}
.compressed-context a{
    padding-left: 14px;
    padding-top: 0;
    padding-bottom: 0;
    font-size: 13px;
}
.compressed-context .divider{
    margin: 5px 1px;
}
.compressed-context .nav-header{
    padding:1px 13px;
}
/* ContextJS end */

/*extend bootstrap*/
.mask{
    position: fixed;
    z-index: 998;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
}
.in-mask{
    position: absolute;
    background: rgba(255, 255, 255, 0.2);
}
.throbber-loader.fe-loading{
    position: fixed;
    left: 50%;
    top: 50%;
    margin: -0.7em 0 0 -0.5em;
    z-index: 999;
}
.throbber-loader.fe-loading.fe-in-loading{
    position: absolute;
}
.alert{
    position: absolute;
    z-index: 999;
    width: 50%;
    margin-left: -25%;
    left: 50%;
    top: 30%;
}
.alert-title{
    font-weight: bold;
    font-size: 14px;
}
.checkbox-inline input[type=checkbox]{
    margin-left: -16px;
}
.checkbox-inline span{
    vertical-align: -2px;
}
.modal-dialog{
    margin: 100px auto 0;
}
.modal-dialog-sm{
    width: 300px;
}
.container-fluid{
    transition: all 0.5s;
}
.split-container-50{
    padding-right: 50%;
}
.split-container-60{
    padding-right: 40%;
}
.split-container-70{
    padding-right: 30%;
}
.split-container-80{
    padding-right: 20%;
}
/*extend bootstrap end*/

/*loading css*/
@-moz-keyframes throbber-loader {
    0% {
        background: #dde2e7;
    }
    10% {
        background: #6b9dc8;
    }
    40% {
        background: #dde2e7;
    }
}
@-webkit-keyframes throbber-loader {
    0% {
        background: #dde2e7;
    }
    10% {
        background: #6b9dc8;
    }
    40% {
        background: #dde2e7;
    }
}
@keyframes throbber-loader {
    0% {
        background: #dde2e7;
    }
    10% {
        background: #6b9dc8;
    }
    40% {
        background: #dde2e7;
    }
}
/* :not(:required) hides these rules from IE9 and below */
.throbber-loader:not(:required) {
    -moz-animation: throbber-loader 2000ms 300ms infinite ease-out;
    -webkit-animation: throbber-loader 2000ms 300ms infinite ease-out;
    animation: throbber-loader 2000ms 300ms infinite ease-out;
    background: #dde2e7;
    display: inline-block;
    position: relative;
    text-indent: -9999px;
    width: 0.9em;
    height: 1.5em;
    margin: 0 1.6em;
}
.throbber-loader:not(:required):before, .throbber-loader:not(:required):after {
    background: #dde2e7;
    content: '\x200B';
    display: inline-block;
    width: 0.9em;
    height: 1.5em;
    position: absolute;
    top: 0;
}
.throbber-loader:not(:required):before {
    -moz-animation: throbber-loader 2000ms 150ms infinite ease-out;
    -webkit-animation: throbber-loader 2000ms 150ms infinite ease-out;
    animation: throbber-loader 2000ms 150ms infinite ease-out;
    left: -1.6em;
}
.throbber-loader:not(:required):after {
    -moz-animation: throbber-loader 2000ms 450ms infinite ease-out;
    -webkit-animation: throbber-loader 2000ms 450ms infinite ease-out;
    animation: throbber-loader 2000ms 450ms infinite ease-out;
    right: -1.6em;
}
/*loading css end*/