dl,dt,dd{
    margin: 0;
    padding: 0;
}
.codeFrame{
    border: 1px solid #cccccc;
}
.nav{
    width: 130px;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    border-right: 1px solid #cccccc;
}
.nav dt{
    height: 30px;
    line-height: 30px;
    font-weight: bold;
    text-indent: 0.5em;
    border-bottom: 1px solid #cccccc;
}
.codeList{
    position: absolute;
    top: 30px;
    bottom: 0;
    width: 100%;
    padding: 4px 0;
}
.codeList a{
    display: block;
    line-height: 24px;
    padding-left: 6px;
}
.codeList a:hover, .codeList .context-temp-hover{
    background: #cfe6f0;
    color: #3a31ff;
}
.codeList .current{
    background: #a3a4f0;
    color: #ffe72c;
}
.codeList .ui-icon{
    display: inline-block;
}
.codeContent{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 130px;
    right: 0;
}
.code-show-wrap{
    height: 100%;
}
.code-show{
    height: 100%;
    position: relative;
}
.theme-select{
    float: right;
}
.codeContent .CodeMirror{
    position: absolute;
    top: 20px;
    left: 0;
    bottom: 25px;
    width: 100%;
    height: auto;
    border-top: 1px solid #DDD9D9;
    border-bottom: 1px solid #DDD9D9;
}
.file_icon{
    display: inline-block;
    height: 16px;
    width: 16px;
    background-repeat: no-repeat;
    vertical-align: -3px;
    margin-right: 4px;
    background-size: contain;
}
.file_folder{
    background-image: url("../images/file-icon/folder.png");
}
.file_backDir{
    background-image: url("../images/file-icon/backDir.png");
}
.file_html{
    background-image: url("../images/file-icon/html.png");
}
.file_css{
    background-image: url("../images/file-icon/css.png");
}
.file_js{
    background-image: url("../images/file-icon/js.png");
}
.file_php{
    background-image: url("../images/file-icon/php.png");
}
.file_rb{
    background-image: url("../images/file-icon/rb.png");
}
.file_xml{
    background-image: url("../images/file-icon/xml.png");
}