dl,dt,dd{
    margin: 0;
    padding: 0;
}
.codeFrame{
    border: 1px solid #cccccc;
}
.nav{
    width: 130px;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    border-right: 1px solid #cccccc;
}
.nav dt{
    height: 30px;
    line-height: 30px;
    font-weight: bold;
    text-indent: 0.5em;
    border-bottom: 1px solid #cccccc;
}
.codeList{
    position: absolute;
    top: 30px;
    bottom: 0;
    width: 100%;
    padding: 4px 0;
}
.codeList a{
    display: block;
    line-height: 24px;
    padding-left: 6px;
}
.codeList a:hover{
    background: #cfe6f0;
    color: #3a31ff;
}
.codeList .ui-icon{
    display: inline-block;
}
.codeContent{
    position: absolute;
    top: 1px;
    bottom: 1px;
    left: 131px;
    right: 1px;
    padding: 4px 6px;
}
.code-show-wrap{
    height: 100%;
}
.code-show{
    height: 100%;
    position: relative;
}
.codeContent .CodeMirror{
    position: absolute;
    top: 20px;
    left: 0;
    bottom: 0;
    width: 100%;
    height: auto;
    border: 1px solid #ececec;
}
.file_icon{
    display: inline-block;
    height: 16px;
    width: 16px;
    background-repeat: no-repeat;
    vertical-align: -3px;
    margin-right: 4px;
}
.file_folder{
    background-image: url("../images/file-icon/folder.png");
}
.file_backDir{
    background-image: url("../images/file-icon/backDir.png");
}