/* frame */
*,*:before,*:after{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
body,ul,li{
    margin: 0;
    padding: 0;
}
html,body {
    height: 100%;
    width: 100%;
    background: transparent;
    font-family: microsoft yahei, simhei;
    font-size: 12px;
}
ul, li{
    list-style: none;
}
a{
    color: #363636;
    text-decoration: none;
}
.drag-item{
    -webkit-app-region: drag;
}
.un-select{
    -webkit-user-select: none;
}
.box {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 0;
    border-left: #3790CE 5px solid;
    box-shadow: 0 0 10px #000000;
}
.boxsub {
    height: 100%;
    border-top: #3790CE 28px solid;
}
.boxsub02 {
    height: 100%;
    border-right: #3790CE 5px solid;
    margin-right: 0;
}
.boxsub03 {
    height: 100%;
    border-bottom: #3790CE 5px solid;
    margin: 0 -10px 0;
}
.boxsub04 {
    height: 100%;
    margin: 0 10px;
    position: relative;
    overflow: hidden;
}
/* frame end */

/* common */
.loading{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.5) url("../images/loading.gif") no-repeat center;
}
.niceScroll{
    visibility: hidden;
}
.icon{
    background: url("../images/icon01.png") no-repeat 0 0;
    display: inline-block;
    height: 18px;
    width: 20px;
    text-indent: -99px;
    overflow: hidden;
}
.main-frame{
    height: 100%;
    width: 100%;
    border: none;
}
input[type=text]{
    border: 1px solid #ccc;
    height: 30px;
    vertical-align: middle;
    padding: 4px;
    font-size: 13px;
    line-height: 18px;
    color: #555555;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    background-color: #ffffff;
}
.readonly{
    background: #d4d4d4;
    color: #555555;
}
.table{
    width: 100%;
    border-collapse: collapse;
}
.table thead {
    background: #70a7ff;
    color: #ffffff;
}
.table td, .table th {
    border: 1px solid #cccccc;
    padding: 4px;
    border-collapse: collapse;
}
.table caption{
    font-size: 16px;
    font-weight: bold;
    line-height: 32px;
}
.table tbody .separateColor{
    background: #eeeeee;
}
/* common end */

.topBar{
    height: 24px;
    line-height: 16px;
    position: absolute;
    top: 3px;
    left: 5px;
    right: 5px;
    z-index: 9;
    color: #ffffff;
    font-size: 11px;
    text-shadow: 1px 0 0 #000000;
}
.topBar table{
    width: 100%;
    border-collapse: collapse;
}
.topBar table tr{
    height: 24px;
}
.topBar .logo{
    width: 24px;
    background: url("../images/logo.png") no-repeat 2px 3px;
    background-size: 16px 16px;
}
.topBar .title{
    color: #ffffff;
    font-size: 12px;
    cursor: default;
}
.topBar .menu{
    width: 70px;
}
.topBar .menu span{
    display: inline-block;
    height: 18px;
    width: 20px;
    border: 1px solid #3790CE;
    position: relative;
    top: 2px;
    border-radius: 2px;
}
.topBar .menu span:hover{
    background-color: #5ea5d7;
    border-color: #2177b7;
}
.topBar .menu .close:hover{
    background-color: #c73b3b;
    border-color: #8b2929;
}
.min-size .icon{
    background-position: 3px 1px;
}
.max-size .icon{
    background-position: -20px 2px;
}
.toggle-size .icon{
    background-position: -64px 2px;
}
.close .icon{
    background-position: -43px 2px;
}
.top-link{
    width: 80px;
    font-family: arial, helvetica, sans-serif;
}
.top-link a{
    color: #ffffff;
    font-size: 13px;
}
.top-link a:hover{
    color: #dddddd;
}

.wrap{
    height: 100%;
    background: #ffffff;
}
.left{
    position: absolute;
    top: 0;
    left: 0;
    width: 56px;
    height: 100%;
    background: #384043;
    box-shadow: 0 0 10px #384043;
    border-right: 1px solid #565b5f;
    z-index: 1;
}
.right{
    margin-left: 60px;
    margin-right: 5px;
    height: 100%;
    overflow: auto;
    position: relative;
}
.right-wrap{
    position: absolute;
    top: 5px;
    bottom: 5px;
    left: 5px;
    right: 0;
    z-index: 0;
}

.left-nav li{
    border-bottom: 1px solid #2e3136;
    box-shadow: 0 -1px 1px #565b5f inset;
    position: relative;
}
.left-nav li > a{
    display: block;
    height: 32px;
    width: 32px;
    overflow: hidden;
    text-indent: -999px;
    margin: 11px;
    border: 1px solid #384043;
    border-radius: 4px;
    opacity: 0.8;
}
.doc{
    background: url("../images/icon_doc.png") no-repeat 0 0;
}
.plug{
    background: url("../images/icon_plug.png") no-repeat 0 0;
}
.fragment{
    background: url("../images/icon_fragment.png") no-repeat 0 0;
}
.tools{
    background: url("../images/icon_tool.png") no-repeat 0 0;
}
.learn{
    background: url("../images/icon_learn.png") no-repeat 0 0;
}
.setting,
.unlogin{
    height: 24px;
    width: 24px;
    overflow: hidden;
    text-indent: -999px;
    position: absolute;
    bottom: 6px;
    left: 16px;
    opacity: 0.8;
    cursor: pointer;
}
.setting{
    background: url("../images/icon_setting.png") no-repeat 0 0;
}
.unlogin{
    background: url("../images/icon_unlogin.png") no-repeat 0 0;
}

/* 菜单 */
.left-nav a:hover,
.setting:hover{
    opacity: 1;
}
.sub-menu{
    position: absolute;
    border: 1px solid #565b5f;
    background: #ffffff;
    left: 100%;
    top: 4px;
    width: 90px;
    padding: 2px;
    display: none;
    box-shadow: 0 0 3px #565b5f;
    border-radius: 0 4px 4px 0;
}
.sub-a .sub-menu{
    top: -8px;
    margin-left: -2px;
}
.sub-menu a{
    display: block;
    height: 20px;
    line-height: 20px;
    padding-left: 8px;
}
.sub-menu a:hover{
    background: #384043;
    color: #ffffff;
}
.left-nav li:hover > .sub-menu,
.left-nav .sub-menu .sub-a:hover > .sub-menu{
    display: block;
}
.sub-a arrow{
    height: 0;
    width: 0;
    display: inline-block;
    margin-left: 4px;
    border-width: 3px;
    border-color: #ffffff #384043 #384043 #ffffff;
    border-style: solid;
}
.sub-a:hover arrow{
    border-color: #384043 #ffffff #ffffff #384043;
}
/* 菜单结束 */