/* frame */
*,*:before,*:after{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
html,body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background: transparent;
    font-family: microsoft yahei, simhei;
}
a{
    /*text-decoration: none;*/
}
.drag-item{
    -webkit-app-region: drag;
}
.box {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 0;
    border-left: #3790CE 5px solid;
    box-shadow: 0 0 10px #000000;
}
.boxsub {
    height: 100%;
    border-top: #3790CE 29px solid;
}
.boxsub02 {
    height: 100%;
    border-right: #3790CE 5px solid;
    margin-right: 0;
}
.boxsub03 {
    height: 100%;
    border-bottom: #3790CE 5px solid;
    margin: 0 -10px 0;
}
.boxsub04 {
    height: 100%;
    margin: 0 10px;
    position: relative;
    overflow: hidden;
}
/* frame end */

/* common */
.icon{
    background: url("../images/icon01.png") no-repeat 0 0;
    display: inline-block;
    height: 18px;
    width: 20px;
    text-indent: -99px;
    overflow: hidden;
}
/* common end */

.topBar{
    height: 24px;
    line-height: 16px;
    position: absolute;
    top: 3px;
    left: 5px;
    right: 5px;
    z-index: 9;
    -webkit-user-select: none;
    color: #ffffff;
    font-size: 11px;
    text-shadow: 1px 0 0 #000000;
}
.topBar table{
    width: 100%;
    border-collapse: collapse;
}
.topBar table tr{
    height: 24px;
}
.topBar .logo{
    width: 24px;
    background: url("../images/logo.png") no-repeat 2px 3px;
    background-size: 16px 16px;
}
.topBar .title{
    color: #ffffff;
    font-size: 12px;
}
.topBar .menu{
    width: 68px;
}
.topBar .menu span{
    display: inline-block;
    height: 18px;
    width: 20px;
    border: 1px solid #3790CE;
    position: relative;
    top: 2px;
    border-radius: 2px;
}
.topBar .menu span:hover{
    background-color: #5ea5d7;
    border-color: #2177b7;
}
.topBar .menu .close:hover{
    background-color: #c73b3b;
    border-color: #8b2929;
}
.min-size .icon{
    background-position: 3px 1px;
}
.max-size .icon{
    background-position: -20px 2px;
}
.toggle-size .icon{
    background-position: -64px 2px;
}
.close .icon{
    background-position: -43px 2px;
}