button:focus, input:focus, textarea:focus{
    outline: none;
}
.tool-container{
    padding: 20px 0;
}
.tool-container .panel h3{
    font-weight: bold;
}
.tool-container .panel{
    cursor: pointer;
    box-shadow: 0 0 5px #bce8f1;
    -webkit-transition: all 0.2s ease-in;
}
.tool-container .panel:hover{
    box-shadow: 0 0 5px #3790CE;
}
.tool-container .panel:hover .panel-heading{
    background: #45b3ff;
    color: #ffffff;
    text-shadow: 1px 1px 0 #2e2e2e;
    -webkit-transition: all 0.2s ease-in;
}
.tool-container .panel:hover,
.tool-container .panel:hover .panel-heading{
    border-color: #3790CE;
}
.tool-container .panel-body{
    min-height: 76px;
}
.form-control{
    width: 100%;
    resize: vertical;
}
.tool-container button.meta-elem{
    border-left: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.tool-container .dropdown-menu{
    font-size: 12px;
}
.tool-container .alert{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
}
.modal-header{
    border-bottom: none;
}
.modal-dialog p{
    margin: 10px 0;
}
.tool-container .CodeMirror{
    width: 100%;
    height: 380px;
    border-radius: 5px;
    box-shadow: 0 0 10px #3300bc;
    border: 1px solid #3a31ff;
}
.markdown-page .CodeMirror-wrap pre{
    font-size: 12px;
}
.realtime-preview h4{
    padding: 20px 0 10px;
    border-bottom: 1px dotted #adadad;
}