    </div>
    <div class="footer">
        <div class="clearfix">
            <p class="rights fl"><a href="/" title="前端助手">Fetool</a>&nbsp;&nbsp;&copy;&nbsp;2012-2013&nbsp;&nbsp;Power by <a href="http://codeigniter.org.cn/" target="_blank">CodeIgniter</a>&nbsp;&nbsp;本工具使用编辑器由 <a href="http://codemirror.net/" target="_blank">codemirror</a> 驱动</p>
            <span class="loading fr">内容加载中...</span>
        </div>
        <div class="clearfix">
            <p class="fl">本站仅支持IE9+, Firefox, Chrome等现代浏览器</p>
            <p class="elapsedTime fr">Page rendered in <strong>{elapsed_time}</strong> seconds</p>
        </div>
    </div>
</body>
</html>