<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title><?php echo $title; ?></title>
    <link rel="stylesheet" href="static/style/fetool.css"/>
</head>
<body>
    <div class="contentWrap">
        <div class="header">
            <div class="logo">
                <h1><a href="/" title="前端助手">Fetool</a><span>前端助手</span></h1>
            </div>
            <div class="about">
                <h2>Fetool is a front-end development tool.</h2>
            </div>
            <div class="login">
                <div class="sort" id="account">
                    <label>随风而去的人</label>
                    <em class="sort-menu-icon"></em>
                    <ul class="sort-menu sort-menu-default">
                        <li><a href="/setting">修改资料</a></li>
                        <li><a href="/logout">退出</a></li>
                    </ul>
                </div>
                <!--<span class="btn">
                    <a href="/login">设置</a>
                </span>-->
            </div>
            <div class="userInfo">
            </div>
            <?php $nav = array(
                'navigation' => '导航',
                'square' => '广场',
                'design' => '设计',
                'snippet' => '代码片段',
                'htmlModule' => 'Html模块',
                'jsModule' => 'Js模块'
            ); ?>
            <nav class="clearfix">
                <?php
                    foreach ($nav as $key => $value){
                        if($action == $key)
                            echo '<a href="/'.$key.'" class="action">'.$value.'</a>';
                        else
                            echo '<a href="/'.$key.'">'.$value.'</a>';
                    }
                ?>
            </nav>
        </div>