<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title><?php echo $title; ?></title>
    <link rel="stylesheet" href="static/style/fetool.css"/>
</head>
<body>
    <div class="contentWrap">
        <div class="header">
            <div class="logo">
                <h1><a href="/" title="前端助手">Fetool</a><span>前端助手</span></h1>
            </div>
            <div class="about">
                <h2>Fetool is a front-end development tool.</h2>
            </div>
            <div class="userInfo">

            </div>
            <nav>

            </nav>
        </div>
        <div class="content">

        </div>
    </div>
    <div class="footer">
        <div class="clearfix">
            <p class="rights"><a href="/" title="前端助手">fetool</a>&nbsp;&nbsp;&copy;&nbsp;2012-2013&nbsp;&nbsp;Power by <a href="http://codeigniter.org.cn/" target="_blank">CodeIgniter</a>&nbsp;&nbsp;本工具使用编辑器由 <a href="http://codemirror.net/" target="_blank">codemirror</a> 驱动</p>
            <p class="elapsedTime">Page rendered in <strong>{elapsed_time}</strong> seconds</p>
        </div>
    </div>
</body>
</html>