/*fetool css*/
@charset "utf-8";
html,body{overflow:hidden; height:100%}
body,ul,li,dl,dd,p,h1,h2,h3,h4,h5,h6{margin:0; padding:0}
body{background:#FFF; font-size:12px; font-family:Tahoma, Geneva, sans-serif}
a{text-decoration:none}
ul,ol{list-style-position:inside; list-style:none}
.footer a,.logo h1 span,.logo h1 a,.login a{color:#7dd0fa}
.header,.footer,.nav a,.htool a{color:#b2b2b2}
.header,.footer{box-shadow:0 0 3px #000}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}
.loading{background:url(../image/loading.gif) no-repeat center center}
/*h*/
.header{position:absolute; left:0; top:0; width:100%; height:90px; border-bottom:1px #222 solid}
.about{height:60px; line-height:60px; text-align:center; background:#353535; background:-moz-linear-gradient(top,rgba(59,59,59,1),rgba(28,28,28,1)); background:-webkit-gradient(linear,0 0,0 100%,from(rgba(59,59,59,1)),to(rgba(28,28,28,1)))}
.about{background:#1f1f1f}
.about h3{color:#EEE; text-shadow:1px 1px 0 #444}
.logo{position:absolute; top:10px; left:0; height:50px; padding:0 20px; background:#4c4c4c; background:-moz-linear-gradient(top,rgba(115,115,115,1),rgba(76,76,76,1)); background:-webkit-gradient(linear,0 0,0 100%,from(rgba(115,115,115,1)),to(rgba(76,76,76,1))); border-radius:6px 6px 0 0}
.logo h1{font-size:32px; float:left; line-height:50px}
.logo h1 span{font-size:12px; margin-left:12px; vertical-align:bottom}
.logo h1 span,.logo h1 a{font-family:"Comic Sans MS", cursive}
.login{position:absolute; top:23px; right:16px}
.isLogin{padding-right:30px}
.logined{position:relative; float:left; width:200px; text-align:right}
.member em.normal{border-width:5px; border-style:solid; border-color:#fff #1f1f1f #1f1f1f #1f1f1f; font-size:0; vertical-align:2px; -moz-transform:rotate(0deg);-moz-transition:all 0.3s ease-in; -webkit-transition:all 0.3s ease-in; margin:0 4px}
.member em.slideDown{-moz-transform:rotate(-180deg); -webkit-transform:rotate(-180deg); vertical-align:6px}
.member_setting{position:absolute; top:18px; right:0; z-index:999; width:80px; text-align:center; background:#ccc; display:none; padding:2px; border:1px solid #3F3F3F}
.member_setting a{display:block; height:20px; line-height:20px; color:#222}
.nav{height:30px; background:#4c4c4c}
.nav a{float:left; height:20px; line-height:20px; padding:0 12px; margin:5px 0 0 10px}
.nav a.current,.nav a:hover,.member_setting a:hover{ border-radius:4px}
.nav a:hover,.member_setting a:hover{background:#555; color:#eee}
.nav a.current{background:#666; color:#fff}
.htool{position:absolute; bottom:5px; right:16px; height:20px}
.htool a{float:left; line-height:20px; margin-left:5px}
.search_tool .ipt{height:12px; line-height:16px; padding:2px; vertical-align:middle; background:#99ccff; border:1px #999 solid}
.search_tool .fbtn{height:18px; width:60px; background:#ff9933; color:#FFF; border:none; cursor:pointer; vertical-align:middle; border-radius:2px; font-weight:bold}
/*c*/
.content{margin:91px 0 37px; padding-left:185px; overflow:auto}
.column{float:left; height:100%; overflow:auto}
.colLeft{width:180px; margin-left:-185px;}
.colMain{width:100%}
.colHandle{width:3px; position:relative; margin-left:-5px; border-width:0 1px; border-style:solid; border-color:#9a9a9a; background:#bbb; cursor:pointer}
.colHandle span{position:absolute; left:-1px; width:3px; height:20px; word-wrap:break-word; font-weight:bold; line-height:4px; font-size:15px}
.colHandle span.pt{top:20px}
.colHandle span.pb{bottom:20px}
.colWrap{height:100%}
.box{padding:6px 0; color:#444}
.colMain .box{padding:6px}
.box a{color:#3F3F3F}
.box h3{height:24px; line-height:24px; margin-bottom:8px; padding-left:6px; overflow:hidden; border-bottom:1px #d3d3d3 solid; border-top:1px #eee solid; background:#f1f1f1; background:-moz-linear-gradient(top,rgba(250,250,250,1),rgba(230,230,230,1)); background:-webkit-gradient(linear,0 0,0 100%,from(rgba(250,250,250,1)),to(rgba(230,230,230,1)))}
.module_name_list li{margin-bottom:3px; padding:0 6px}
.module_name_list li a{display:block; height:20px; line-height:20px; background:#FFC; border:1px #FC9 dotted; padding-left:0.5em; -moz-transition:all 0.3s ease-out; -webkit-transition:all 0.3s ease-out}
.module_name_list li a:hover{background:#FC6; background:rgba(255,204,102,0.6); padding-left:1em}
.module_name_list li.current a{background:#FC6; background:rgba(255,204,102,0.8); padding-left:1em}
.add_row{padding-bottom:8px}
.add_row .ats select,.add_row .ats input{margin:0 0 4px 4px}
.module_list{margin-bottom:10px}
.module_list_t{height:28px; line-height:28px; overflow:hidden; border:1px #fc9 dotted; padding:0 16px; border-radius:8px}
.module_list_t:hover{border-color:red}
.module_list_t_left,.module_list_t_right span,.module_list_t_right a{float:left;}
.module_list_t_left span{margin-right:12px;}
.module_list_t_right{float:right; overflow:hidden}
.module_list_t_right a,.feDialog_b a,.new_code_btns a{line-height:12px; background:#6e6e6e; color:#FFF; padding:2px 4px; font-family:"Lucida Console", Monaco, monospace; border-radius:2px; text-shadow:1px 1px 0 #000}
.module_list_t_right a{margin:6px 0 0 6px}
.module_list_t_right span{margin-left:12px}
.module_list_c{padding:12px;}
.module_list_c iframe{height:20px; width:100%; border:0; border:none}
/*f*/
.footer{padding:10px 0; height:16px; background:#333333; border-top:1px #222222 solid; border-bottom:1px #a0a0a0 solid; width:100%; position:absolute; left:0; bottom:0}
.footer p{text-indent:10px}
.status{position:absolute; top:10px; right:20px; height:16px; width:16px; background:url(../image/spinner.gif) no-repeat 0 0; display:none}
/*feDialog*/
.feMasklayer{height:100%; width:100%; background:#000; background:rgba(0,0,0,0.5); position:fixed; top:0; left:0; z-index:999; display:none}
.feDialog{position:absolute; z-index:9999; top:50%; left:50%; display:none; background:#FFF; box-shadow:0 0 3px #000 inset; border:1px #777 solid}
.feDialog_t{height:24px; position:relative; padding:0 4px; border-width:1px 0; border-color:#999; border-style:solid; background:#CCC; line-height:24px}
.feDialog_t h4{font-size:13px; color:#333}
.feDialog_t a{position:absolute; top:0; right:8px; color:#333; text-decoration:underline}
.feDialog_c .edit_area{width:100%}
.feDialog_b,.new_code_btns{height:20px; padding:2px 8px; text-align:right}
.feDialog_b span{display:none; margin-right:20px}
.feDialog_b .edit_tip{padding-right:20px; background:url(../image/loading_h.gif) no-repeat right center}
.feDialog_b .edit_ok{color:#3C0}
.feDialog_b .edit_error{color:#C00}
/*other*/
.error_page{padding:12px 6px 0 72px; background:url(../image/unhappy.gif) no-repeat 12px 12px; min-height:48px} 
.error_page h4,.add_row h4{font-size:14px; padding:3px 0 6px}