<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <title>常用工具 - 首页</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../../../public/css/bootcss/bootstrap.min.css"/>
  <link rel="stylesheet" href="../../../public/css/bootcss/bootstrap-theme.min.css"/>
  <link rel="stylesheet" href="../../../public/css/tool.css"/>
</head>
<body class="niceScroll">
  <div class="container-fluid">
    <div class="tool-container">
      <!--行开始-->
      <div class="row">
        <div class="col-sm-4">
          <div class="panel panel-info" event-click="openUrl" data-args="tool/regex.html">
            <div class="panel-heading">
              <h3 class="panel-title">正则表达式（RegEx）</h3>
            </div>
            <div class="panel-body">
              在线正则表达式匹配、替换，另有多种常用正则表达式提供方便使用
            </div>
          </div>
        </div>
      </div>
      <!--//行开始-->
    </div>
  </div>
  <script src="../../../public/js/lib/jquery-1.10.2.min.js"></script>
  <script src="../../../public/js/lib/jquery.nicescroll.min.js"></script>
  <script src="../../../public/js/util.js"></script>
  <script src="../../../public/js/common.js"></script>
  <script src="../../../app/controller/tool/index.js"></script>
</body>
</html>