/* Reset CSS */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td{margin:0;padding:0;}
body{font: 12px/1.5em Verdana,Arial,Helvetica,Arial,sans-serif; white-space: normal; color: #000; min-width: 1000px; background: #FFF;}
table{border-collapse:collapse;border-spacing:0;}
fieldset,img{border:0;}
address,caption,cite,code,dfn,em,strong,th,var,optgroup{font-style:inherit;font-weight:inherit;}
del,ins{text-decoration:none;}
li{list-style:none;}
caption,th{text-align:left;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
q:before,q:after{content:'';}
abbr,acronym{border:0;font-variant:normal;}
sup,sub{vertical-align:baseline;}
legend{color:#000;}
input,button,textarea,select,optgroup,option{font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit;}
input,button,textarea,select{*font-size:100%;}
a{color: #3366CC; text-decoration: none; outline: none;}

/*layout*/
html{height: 100%; *overflow: auto;}
body{min-height: 100%; position: relative; _height: 100%;}
.contentWrap{padding-bottom: 61px;}
.header,.footer{box-shadow:0 0 3px #000; border-color: #222222; border-style: solid;}
.header{height:90px; border-width: 0 0 1px; position: relative;}
.footer{position: absolute; height: 60px; width: 100%; bottom: 0; background:#4C4C4C; border-width:1px 0 0;}
.about{height:60px; line-height:60px; text-align:center; background: #1F1F1F;}
.about h2{color:#EEE; text-shadow:1px 1px 0 #444; font-size: 14px;}
.logo{top:10px; left:0; height:34px; padding:16px 20px 0; overflow: hidden; background:#4c4c4c; background:-moz-linear-gradient(top,rgba(115,115,115,1),rgba(76,76,76,1)); background:-webkit-gradient(linear,0 0,0 100%,from(rgba(115,115,115,1)),to(rgba(76,76,76,1))); border-radius:6px 6px 0 0;}
.logo h1{font-size:32px; float:left;}
.logo h1 span{font-size:12px; margin-left:12px;}
nav{height:30px; background:#4C4C4C; padding-left: 20px;}
nav a{font-size: 13px; float: left; margin-right: 0.8em; font-weight: bold; padding: 2px 6px; line-height: normal; margin-top: 5px;}
.content{min-height: 450px; padding: 12px 20px;}
.left{width: 50%;}
.right{width: 50%;}

/*common*/
.fl{float: left;}
.fr{float: right;}
.clearfix:before,.clearfix:after{content:"";display:table;}
.clearfix:after{clear:both;}
.clearfix{*zoom:1;}
.logo,.login,.userInfo{position: absolute;}
.logo h1 span,.logo h1 a{font-family:"Comic Sans MS", cursive;}
.action,nav a:hover{background: #FCFCFC; color: #ff6514; border-radius: 4px;}
.footer a,.logo h1 span,.logo h1 a,.login a,nav a{color:#7dd0fa}
.header,.footer{color:#FFF;}
.footer a:hover{text-decoration: underline;}

.btn,.btn a{border-radius: 2px; display: inline-block;}
.btn,.sort,.sort-menu{border: 1px solid #161018; box-shadow: 0 0 2px #000;}
.btn a{color: #FFF; padding: 2px 10px; border-width: 1px 1px 1px 0; border-style: solid; border-color: #3f4c52; border-bottom-color: #1d2a30;}
.btn a,.sort,.sort-menu{background: #2b3a41;}
.sort:hover ul{display: block; min-width: 76px;}

/**/
.login{top: 20px; right: 20px;}
.greeting{height: 24px; line-height: 24px; letter-spacing: 2px;}
.login .sort,.login .btn,.greeting{float: left;}
.login .sort-menu{top: 22px; right: -1px;}
.login .sort-menu li a{padding-right: 1em;}
.userInfo{right: 20px; bottom: 4px;}
.footer .clearfix{padding: 0 20px; margin-top: 8px;}
.rights{float: left;}
.elapsedTime{float: right;}
.loading{display: none;}
.codeBox,.codeViewBox{border: 1px solid #000; height: 300px;}
.codeFrame{height: 100%; width: 100%;}


/*plug css*/
.sort{
    height: 24px;
    line-height: 22px;
    padding: 0 20px 0 10px;
    position: relative;
    color: #FFF;
}
.sort-menu{
    margin: 0;
    padding: 0;
    position: absolute;
    z-index: 999;
    display: none;
}
.sort-menu li{
    margin: 0;
    list-style: none;
}
.sort-menu li a{
    display: block;
    border-radius: 2px;
    height: 20px;
    line-height: 20px;
    margin: 2px;
    padding-left: 1em;
    -moz-transition: all 0.2s;
    -webkit-transition: all 0.2s;
}
.sort-menu li a:hover{
    background: #FFF;
    color: #ff6514;
}
.sort-menu-css3 li a:hover{
    padding-left: 1.5em;
}
.sort-menu-css3 li a{
    -moz-transition: all 0.2s;
    -webkit-transition: all 0.2s;
}
.sort-menu-icon{
    height: 9px;
    width: 5px;
    line-height: 0;
    background: url(../images/sort-arrow.png) no-repeat 0 0;
    position: absolute;
    z-index: 1000;
    top: 50%;
    right: 6px;
    margin-top: -4px;
    -moz-transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -webkit-text-size-adjust: none;
}
.sort:hover .sort-menu-icon,.sort-menu-hover .sort-menu-icon{
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
}