html,body {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: "microsoft yahei", "simhei";
    font-size: 12px;
}
button {
    margin: 0;
}
#editor {
    position: absolute;
    top: 0;
    bottom: 18px;
    left: 0;
    right: 0;
}
.info {
    font-family: monospace;
    white-space: nowrap;
    position: absolute;
    padding: 0 2px;
    height: 18px;
    line-height: 18px;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    overflow: hidden;
}
.info label {
    font-weight: bold;
}
.info-mode{
    float: right;
    position: relative;
    z-index: 8;
}
.info-title{
    position: relative;
    z-index: 9;
}
.info,
.info-title{
    background: #eee;
}
.buttons {
    height: 24px;
    background: #262626;
}
.buttons img {
    vertical-align: -3px;
}
.drag-item{
    -webkit-app-region: drag;
}
.un-select{
    -webkit-user-select: none;
}
.box {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 0;
    border-left: 5px solid;
    box-shadow: 0 0 10px #000000;
}
.boxsub {
    height: 100%;
    border-top: 28px solid;
}
.boxsub02 {
    height: 100%;
    border-right: 5px solid;
    margin-right: 0;
}
.boxsub03 {
    height: 100%;
    border-bottom: 5px solid;
    margin: 0 -10px 0;
}
.boxsub04 {
    height: 100%;
    margin: 0 10px;
    position: relative;
    overflow: hidden;
}
.box,.boxsub,.boxsub02,.boxsub03{
    border-color: #3E4144;
}
.wrap{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
.topBar{
    height: 22px;
    position: absolute;
    top: 4px;
    left: 5px;
    right: 5px;
    z-index: 9;
    color: #ffffff;
    background: #3E4144;
    padding-right: 70px;
}
.titleBar{
    height: 22px;
    text-shadow: 1px 1px 0 #000000;
}
.titleBar span{
    color: #3581c0;
    font-size: 14px;
    font-weight: bold;
}
.topNavBar{
    height: 22px;
    width: 70px;
    position: absolute;
    top: 0;
    right: 0;
}
.topNavBar .glyphicon{
    font-size: 12px;
    float: right;
    margin-left: 2px;
    height: 18px;
    width: 18px;
    overflow: hidden;
    text-align: center;
    line-height: 18px;
    cursor: pointer;
}
.topNavBar .glyphicon-minus:hover{
    background: #5e5e64;
}
.topNavBar .glyphicon-remove:hover{
    background: #C73636;
}

/*extend CodeMirror*/
.CodeMirror .CodeMirror-cursor{
    line-height: 0;
}
/*extend CodeMirror end*/

/*extend bootstrap*/
.mask{
    position: fixed;
    z-index: 998;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.5);
}
.alert{
    position: absolute;
    z-index: 999;
    width: 50%;
    margin-left: -25%;
    left: 50%;
    top: 30%;
}
.alert-title{
    font-weight: bold;
    font-size: 14px;
}
.checkbox-inline input[type=checkbox]{
    margin-left: -16px;
}
.checkbox-inline span{
    vertical-align: -2px;
}
/*extend bootstrap end*/